	<div class="col-md-6 container bg-white p-3 rounded mt-3" >
       <h1>{{page_title}}</h1>
		<div class="alert alert-warning" *ngIf="recipes && recipes.length == 0 ">
			No hay solicitude de ordenes registradas.
		</div>
       	<div class="loading" *ngIf="!recipes">
		Cargando...
		</div>
		<!-- LISTADO DE SOLICITUDES DE ORDENES -->
		<table class="table table-striped mt-2" *ngIf="recipes && recipes.length >=1 ">
		  <thead>
		    <tr>
		      <th scope="col">#Id</th>
		      <th scope="col">Creación</th>
		      <th scope="col">Nombre</th>
		      <th >Acción</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let recipe of recipes | paginate: {
                                                      itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: totalRows }">
		      <th scope="row">{{ recipe.id }}</th>
		      <td>{{ recipe.created_at }}</td>
		      <td>{{ recipe.name }}</td>
		      <td >
		      	
				<a class="btn btn-sm btn-success mr-2 text-white" [routerLink] = "['/detail-recipe',recipe.id]">Ver ingredientes</a>			

		      </td>
		    </tr>

		  </tbody>
		</table>
		<span class="has-text-centered">
		    <pagination-controls (pageChange)="p = $event" 
		    					directionLinks="true"
                      			autoHide="true"
                      			responsive="true"
			                    previousLabel="Anterior"
			                    nextLabel="Siguiente">
			</pagination-controls>
			Total de registros {{totalRows}}
		</span>
	</div>